* {
    text-align: center;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin-left: 0.25rem;
    margin: 3px;

}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.btn {
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
} 
.btn-primary:active {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}
.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 50%);
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn-secondary:active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}
.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 50%);
}
.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}
.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-success:active {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}
.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 50%);
}
.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.btn-danger:active {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}
.btn-danger:focus {
    box-shadow: 0 0 0 0.2rem rgb(220 53 69 / 50%);
}
.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-warning:active {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500;
}
.btn-warning:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 193 7 / 50%);
}
.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
}
.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.btn-info:active {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}
.btn-info:focus {
    box-shadow: 0 0 0 0.2rem rgb(23 162 184 / 50%);
}
.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-light:active {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}
.btn-light:focus {
    box-shadow: 0 0 0 0.2rem rgb(248 249 250 / 50%);
}
.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.btn-dark:active {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d;
}
.btn-dark:focus {
    box-shadow: 0 0 0 0.2rem rgb(52 58 64 / 50%);
}
.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}
.btn-link {
    font-weight: 400;
    color: #007bff;
    background-color: transparent;
}
.btn-link:active {
    background-image: none;
}
.btn-link:focus {
    text-decoration: underline;
    border-color: transparent;
    box-shadow: none;
}
.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
    background-color: transparent;
    border-color: transparent;
}

